<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css" type="text/css">
        <title> Express + EJS</title>
        </style>
    </head>
    <body>
        <h1>USTED SE HA REGISTRADO CON EXITO! FELICIDADESSSSSSSSSSSSSSSSSSS</h1>
    </body>
</html>