<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title> Express + EJS</title>
    </style>
</head>

<body>
    <h1>AGREGAR TAREAS</h1>
    <form action='/tareas' method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="id" />
        <input type="text" name="name" /> 
        <button type="submit">ENVIAR</button>
    </form>
</body>

</html>