<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css" type="text/css">
        <title> Express + EJS</title>
        </style>
    </head>
    <body>
        <h1>Registro de usuaario</h1>
        <form action='/register' method="POST" enctype="application/x-www-form-urlencoded">
            <label for="id"><span>USERNAME</span></label>
            <input type="text" name="username" id="id" /><br>
            <label for="name"><span>CONTRASEÑA</span></label>
            <input type="text" name="password" id="name"/> <br>
            <button type="submit">ENVIAR</button>
        </form>
    </body>
</html>