<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css" type="text/css">
        <title> Express + EJS</title>
        </style>
    </head>
    <body>
        <h1>Lista de tareas</h1>
        <div>
            <ul>
                <% lista.forEach((lista) => { %>
                    <li>
                        <img src="uploads/<%=lista.avatar%>" alt="avatar"> Tarea <%=lista.id%>: <%=lista.descripcion%>
                    </li>
                <%});%>
            </ul>
        </div>
        <%-include('footer');%>
    </body>
</html>